.flag{
    width: 3.75rem;
    height: 1.75rem;
    float: right;
}

.link{
    text-decoration: none;
    color: inherit;
}

.link_nodec,
.link_nodec:hover{
    text-decoration: none;
    color: inherit;
}